<div class="modal-header">
    <h5 class="modal-title pull-left">{{ title }}</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true"></span>
      </button>
</div>
<div class="modal-body">

    <ul *ngIf="developer != null">
        <h5> <strong> Id: </strong> {{ developer.Id }} </h5>
        <h5> <strong> Name: </strong> {{ developer.Name }} </h5>
        <h5> <strong> Skype: </strong> {{ developer.Skype }} </h5>
        <h5> <strong> Phone: </strong> {{ developer.Phone }} </h5>
        <h5> <strong> Linkedin: </strong> {{ developer.Linkedin }} </h5>
        <h5> <strong> Email: </strong> {{ developer.Email }} </h5>
        <h5> <strong> City: </strong> {{ developer.City }} </h5>
        <h5> <strong> State: </strong> {{ developer.State }} </h5>
    </ul>



</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>