<div class="row">
    <div class="col-sm-3 col-sm-offset-1">
        <h3 id="labelForm">{{ title }}</h3>
    </div>
</div>
<!--
<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nome">
        </div>
    </div>

    <div class="form-group">
        <label for="descricao" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <input type="text" formControlName="descricao" class="form-control" id="descricao" placeholder="Descrição">
        </div>
    </div>

    <div class="form-group">
        <label for="codigo" class="col-sm-2 control-label">Code</label>
        <div class="col-sm-10">
            <input type="text" formControlName="codigo" class="form-control" id="codigo" placeholder="Codigo">
        </div>
    </div>

    <div class="form-group">
        <label for="preco" class="col-sm-2 control-label">Price</label>
        <div class="col-sm-10">
            <input type="text" formControlName="preco" class="form-control" id="preco" placeholder="Preço">
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary btn-block"> Register</button>
            <button type="button" class="btn btn-default btn-block" (click)="reset()">Cancel</button>
        </div>
    </div>
</form>
-->

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">

        <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
            <tabset>
                <tab heading="Occupation Area >>">
                    <!-- Table 1 -->
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email*</label>
                        <div class="col-sm-9">
                            <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">name*</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nome">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="skype" class="col-sm-2 control-label">skype*</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="skype" class="form-control" id="skype" placeholder="Skype">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="phone" class="form-control" id="phone" placeholder="Phone">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="linkedin" class="col-sm-2 control-label">Linkedin</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="linkedin" class="form-control" id="linkedin" placeholder="Linkedin">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="city" class="col-sm-2 control-label">City*</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="city" class="form-control" id="city" placeholder="City">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="state" class="col-sm-2 control-label">State*</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="state" class="form-control" id="state" placeholder="State">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="portfolio" class="col-sm-2 control-label">Portfolio</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="portfolio" class="form-control" id="portfolio" placeholder="Portfolio">
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>What is your willingness to work today? / Qual é sua disponibilidade para trabalhar hoje? *</h4>
                        </div>
                        <div class="col-sm-7 col-sm-offset-2">

                            <div class="checkbox">
                                <label><input formControlName="hourUntilFour" id="hourUntilFour" type="checkbox" >Up to 4 hours per day / Até 4 horas por dia</label>
                            </div>
                            <div class="checkbox">
                                <label><input formControlName="hourFourToSix" id="hourFourToSix" type="checkbox" >4 to 6 hours per day / De 4 á 6 horas por dia</label>
                            </div>
                            <div class="checkbox">
                                <label><input formControlName="hourFourToEight" id="hourFourToEight" type="checkbox" >6 to 8 hours per day /De 6 á 8 horas por dia</label>
                            </div>

                            <div class="checkbox">
                                <label><input formControlName="hourAboveEight" id="hourAboveEight" type="checkbox" >Up to 8 hours a day (are you sure?) / Acima de 8 horas por dia (tem certeza?)</label>
                            </div>

                            <div class="checkbox">
                                <label><input formControlName="hoursOfWeekend" id="hoursOfWeekend" type="checkbox" >Up to 8 hours a day (are you sure?) / Acima de 8 horas por dia (tem certeza?)</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>What's the best time to work for you? / Pra você qual é o melhor horário para trabalhar? *</h4>
                        </div>
                        <div class="col-sm-7 col-sm-offset-2">

                            <div class="checkbox">
                                <label><input formControlName="morningPeriod" id="morningPeriod" type="checkbox">Morning (from 08:00 to 12:00) / Manhã (de 08:00 ás 12:00)</label>
                            </div>
                            <div class="checkbox">
                                <label><input formControlName="afternoonPeriod" id="afternoonPeriod" type="checkbox" >Afternoon (from 1:00 p.m. to 6:00 p.m.) / Tarde (de 13:00 ás 18:00)</label>
                            </div>
                            <div class="checkbox">
                                <label><input formControlName="nightPeriod" id="nightPeriod" type="checkbox" >Night (7:00 p.m. to 10:00 p.m.) /Noite (de 19:00 as 22:00)</label>
                            </div>

                            <div class="checkbox">
                                <label><input formControlName="dawnPeriod" id="dawnPeriod" type="checkbox" >Dawn (from 10 p.m. onwards) / Madrugada (de 22:00 em diante)</label>
                            </div>

                            <div class="checkbox">
                                <label><input formControlName="businessPeriod" id="businessPeriod" type="checkbox" >Business (from 08:00 a.m. to 06:00 p.m.) / Comercial (de 08:00 as 18:00)</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pretension" class="col-sm-2 control-label">Pretension*</label>
                        <div class="col-sm-9">
                            <input type="number" formControlName="pretension" class="form-control" id="pretension" placeholder="Pretension">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bank" class="col-sm-2 control-label">Bank Information</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="bank" class="form-control" id="bank" placeholder="Bank Information">
                        </div>
                    </div>
                </tab>
                <tab heading="Bank Information  >>">
                    <!-- Table 2 -->

                    <div class="form-group">
                        <label for="bankInf_name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="bankInf_name" class="form-control" id="bankInf_name" placeholder="Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bankInf_cpf" class="col-sm-2 control-label">CPF</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="bankInf_cpf" class="form-control" id="bankInf_cpf" placeholder="CPF">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bankInf_bank" class="col-sm-2 control-label">Name Bank</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="bankInf_bank" class="form-control" id="bankInf_bank" placeholder="Bank">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bankInf_agency" class="col-sm-2 control-label">Agency</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="bankInf_agency" class="form-control" id="bankInf_agency" placeholder="Agency">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>Account Type</h4>
                        </div>
                        <div class="col-sm-7 col-sm-offset-2">
                            <div class="checkbox">
                                <label><input formControlName="bankInf_chain" id="bankInf_chain" type="checkbox" value="">Chain</label>
                            </div>

                            <div class="checkbox">
                                <label><input formControlName="bankInf_savings" id="bankInf_savings" type="checkbox" value="">Savings</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bankInf_account" class="col-sm-2 control-label">Account Number</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="bankInf_account" class="form-control" id="bankInf_account" placeholder="Account Number">
                        </div>
                    </div>

                </tab>

                <tab heading="Knowledge">
                    <!-- Table 3 -->
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>Ionic*</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="ionic" id="inoic" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="ionic" id="inoic" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="ionic" id="inoic" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="ionic" id="inoic" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="ionic" id="inoic" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>Android*</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="android" id="android" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="android" id="android" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="android" id="android" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="android" id="android" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="android" id="android" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>Ios*</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="ios" id="ios" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="ios" id="ios" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="ios" id="ios" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="ios" id="ios" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="ios" id="ios" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>Html</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="html" id="html" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="html" id="html" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="html" id="html" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="html" id="html" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="html" id="html" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>Css</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="css" id="css" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="css" id="css" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="css" id="css" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="css" id="css" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="css" id="css" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>Bootstrap</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="bootstrap" id="bootstrap" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="bootstrap" id="bootstrap" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="bootstrap" id="bootstrap" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="bootstrap" id="bootstrap" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="bootstrap" id="bootstrap" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>Jquery</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="jquery" id="jquery" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="jquery" id="jquery" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="jquery" id="jquery" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="jquery" id="jquery" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="jquery" id="jquery" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>angularJs</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="angularJs" id="angularJs" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="angularJs" id="angularJs" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="angularJs" id="angularJs" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="angularJs" id="angularJs" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="angularJs" id="angularJs" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>Java</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="java" id="java" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="java" id="java" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="java" id="java" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="java" id="java" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="java" id="java" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>aspnet</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="aspnet" id="aspnet" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="aspnet" id="aspnet" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="aspnet" id="aspnet" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="aspnet" id="aspnet" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="aspnet" id="aspnet" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>c</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="c" id="c" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="c" id="c" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="c" id="c" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="c" id="c" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="c" id="c" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>Cplusplus</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="cplusplus" id="cplusplus" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="cplusplus" id="cplusplus" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="cplusplus" id="cplusplus" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="cplusplus" id="cplusplus" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="cplusplus" id="cplusplus" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>cake</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="cake" id="cake" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="cake" id="cake" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="cake" id="cake" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="cake" id="cake" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="cake" id="cake" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>django</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="django" id="django" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="django" id="django" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="django" id="django" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="django" id="django" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="django" id="django" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>majento</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="majento" id="majento" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="majento" id="majento" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="majento" id="majento" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="majento" id="majento" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="majento" id="majento" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>php</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="php" id="php" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="php" id="php" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="php" id="php" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="php" id="php" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="php" id="php" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>wordpress</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="wordpress" id="wordpress" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="wordpress" id="wordpress" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="wordpress" id="wordpress" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="wordpress" id="wordpress" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="wordpress" id="wordpress" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>phyton</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="phyton" id="phyton" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="phyton" id="phyton" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="phyton" id="phyton" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="phyton" id="phyton" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="phyton" id="phyton" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>ruby</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="ruby" id="ruby" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="ruby" id="ruby" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="ruby" id="ruby" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="ruby" id="ruby" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="ruby" id="ruby" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>sqlServer</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="sqlServer" id="sqlServer" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="sqlServer" id="sqlServer" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="sqlServer" id="sqlServer" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="sqlServer" id="sqlServer" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="sqlServer" id="sqlServer" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>MySql</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="mySql" id="mySql" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="mySql" id="mySql" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="mySql" id="mySql" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="mySql" id="myql" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="mySql" id="mySql" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>salesforce</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="salesforce" id="salesforce" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="salesforce" id="salesforce" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="salesforce" id="salesforce" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="salesforce" id="salesforce" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="salesforce" id="salesforce" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>photoshop</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="photoshop" id="photoshop" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="photoshop" id="photoshop" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="photoshop" id="photoshop" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="photoshop" id="photoshop" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="photoshop" id="photoshop" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>illustrator</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="illustrator" id="illustrator" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="illustrator" id="illustrator" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="illustrator" id="illustrator" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="illustrator" id="illustrator" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="illustrator" id="illustrator" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <h4>seo</h4>
                        </div>

                        <div class="col-sm-7 col-sm-offset-2">
                            <label class="radio-inline">I don't know </label>
                            <label class="radio-inline"><input formControlName="seo" id="seo" type="radio" value="1">1</label>
                            <label class="radio-inline"><input formControlName="seo" id="seo" type="radio" value="2">2</label>
                            <label class="radio-inline"><input formControlName="seo" id="seo" type="radio" value="3">3</label>
                            <label class="radio-inline"><input formControlName="seo" id="seo" type="radio" value="4">4</label>
                            <label class="radio-inline"><input formControlName="seo" id="seo" type="radio" value="5">5</label>
                            <label class="radio-inline"> Senior</label>
                        </div>
                    </div>



                    <div class="form-group">
                        <label for="otherKnowledge" class="col-sm-2 control-label">Other Knowledge</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="otherKnowledge" class="form-control" id="otherKnowledge" placeholder="Other Knowledge">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="crud" class="col-sm-2 control-label">Link Crud </label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="crud" class="form-control" id="crud" placeholder="Crud">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">
                            <button type="submit" class="btn btn-primary btn-block"> Register</button>
                        </div>
                        <div class=" col-sm-2">
                            <button type="button" class="btn btn-default btn-block" (click)="reset()">Cancel</button>
                        </div>
                    </div>

                </tab>

            </tabset>

        </form>


    </div>
</div>