<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 ">
            <h3>Developers Listing</h3>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12  ">

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Skype</th>
                        <th>Phone</th>
                        <th>Linkedin</th>
                        <th>Email</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let developer of developers">
                        <th scope="row">{{ developer.id }}</th>
                        <td>{{ developer.name }}</td>
                        <td>{{ developer.skype }}</td>
                        <td>{{ developer.phone }}</td>
                        <td>{{ developer.linkedin }}</td>
                        <td>{{ developer.email }}</td>
                        <td>{{ developer.city }}</td>
                        <td>{{ developer.state }}</td>

                        <td><button class="btn btn-primary" [routerLink]="['/save', developer.id]">
                                 <i class="glyphicon glyphicon-pencil"></i>
                            </button> |
                            <button class="btn btn-info" [routerLink]="['/details', developer.id]">
                                    <i class="glyphicon glyphicon-zoom-in"></i>    
                            </button> |
                            <button (click)="onDelete(developer.name, developer.id )" class="btn btn-danger">
                                    <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>

            <h3 *ngIf="developers == null"> Developers Not Found </h3>

            <hr>
            <button id="btn-add" [routerLink]="['/save']" class="btn btn-info">
                    <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </div>
</div>